@import "compass/css3/font-face";

$font-size: 16px;
$span-font-size: 15px;
$headers-font: SmallTW;
$text-font: TheanoR;
$light-gray: #e7e7e7;
$dark-gray: #7f7f7f;
$border-size: 1px;
$very-light-gray: #f2f2f2;