doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='csrf-token', content='ac6959062dbe64f91fe385c01b4f4369')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title My starter kit
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    script(src='/js/vendor/fastclick.js')
    script(src='/js/vendor/browser.min.js')
    script(src='/js/vendor/jquery.min.js') 
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/jquery-ui.min.js')
  body
    .container
      block main-content

